@media (min-width: 800px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
  }
  .imga {
    width: 70%;
    margin-left: 25%;
  }
  .tekst {
    min-width: 10ch;
  }
}

body {
  background: url(baggrund.png);
}
.card {
  background-color: #343533;
  color: white;
  padding: 4%;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.pic {
  float: right;
  width: 60%;
  padding: 3%;
}

/* .btn_mere {
  background-color: #c0c0c0;
  color: #a1512f;
  border-radius: 3px 3px 3px 3px;
  border-color: #a1512f;
  padding: 2%;
  margin-bottom: 20%;
  /* margin-right: 30%;
  margin-left: 30%; */
/* margin-top: 2%;
  justify-content: center;
} */

.pic_container {
  position: relative;
  display: inline-block;
}

.text-overlay {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a1512f;
  font-weight: bolder;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  z-index: 2;
  font-family: "alumni";
}

.vores {
  transform: translate(-22%, 0%);
}

.artister {
  transform: translate(7%, 0%);
}

h1 {
  margin-bottom: 2%;
  font-family: "alumni";
}

.insta {
  width: 7%;
  margin: 2%;
}

header {
  z-index: 10;
}

p {
  font-family: "dorsa";
  font-size: 30px;
  letter-spacing: 0.1rem;
}

.btn {
  color: #a1512f;
  border-style: solid;
  border-color: #a1512f;
  text-decoration: none;
  background-color: bisque;
}
