/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-image: url("baggrund.png");
}

/********** Logo **************/

.logo {
  font-size: 36px;
  color: #ba6028;
  font-family: "dorsa";
}

/****************** menu ****************/
header {
  position: sticky;
  top: 0;
  background-color: #3a3a3a;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 5px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s;
  text-align: end;
  font-family: sans-serif;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

.knapheader a {
  text-decoration: none;
  background-color: #3a3a3a;
  color: #ffffff;
  border: 1px solid white;
  padding: 10px 15px;
  font-size: 1.5rem;
}

.knapheader a:hover {
  color: #ba6028;
}

/*************** Forside billede *********************/

.grid_1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}
.pic1 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  object-fit: cover;
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 4rem;
  max-height: 100vh;
}

.overskrift {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  background-color: #a5592a;
  padding: 20px 25px;
  font-size: 6rem;
  font-family: "dorsa";
  color: #333232;
}

/********** Form **************/
.overskrift2 {
  background-color: #353333;
  color: #ba6028;
  text-align: center;
  font-family: "alumni";
  padding: 20px 30px;
  margin: 0 auto;
  max-width: 650px;
  width: 90%;
  box-sizing: border-box;
  font-size: 1.8rem;
}

#form-section {
  background-color: #4a4949;
  padding: 60px;
  margin: 0 auto;
  max-width: 650px;
  width: 90%;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 1.5rem;
}

h5 {
  color: white;
  font-family: "alumni";
  font-size: 1rem;
  margin-left: 1.5rem;
  margin-top: 3.5rem;
}

.group2 {
  margin-bottom: 3rem;
  margin-top: 0.8rem;
  margin-left: 1.5rem;
}

.tekstbox {
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}

.knap {
  padding: 15px 30px;
  background-color: #954d20;
  color: white;
  border: 1px solid white;
  font-family: "alumni";
  margin-left: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

input {
  width: 80%;
  padding: 10px;
  background-color: #737272;
  color: white;
  border: none;
}

select {
  width: 40%;
  padding: 10px;
  background-color: #737272;
  color: white;
  border: none;
}

textarea {
  width: 80%;
  padding: 20px;
  height: 150px;
  background-color: #737272;
  color: white;
  border: none;
}

input::placeholder,
textarea::placeholder {
  color: white;
  opacity: 1;
}

.error-message {
  color: rgb(194, 4, 4);
}

/* Skjul fejlmeddelelsen som standard */
.error-message {
  display: none;
}
.form-group:has(:required) {
  label::after {
    content: " *";
    color: rgb(239, 6, 6);
  }
}

/* Tilføj rød kant omkring input-feltet, hvis det er ugyldigt */
.form-group:has(:user-invalid) {
  input {
    outline: 3px solid rgba(255, 5, 5, 0.333);
    border-color: rgba(139, 0, 0, 0.954);
  }
  /* Vis fejlmeddelelsen, hvis feltet er ugyldigt */
  .error-message {
    display: block;
  }
}

/********** INFO **************/

.overskrift3 {
  display: block;
  width: 50%;
  margin: auto;
  background-color: #353333;
  color: #ba6028;
  text-align: center;
  margin-top: 60px;
  padding: 10px 20px;
  font-size: 3.5rem;
  font-family: "alumni";
  margin-bottom: 2.5rem;
}

.overskrift4 {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  font-family: "alumni";
  font-weight: bold;
}

.adresse {
  margin-bottom: 3rem;
  font-weight: bold;
}

.tekst {
  text-align: center;
  font-size: 1.2rem;
  font-family: "alumni";
  font-weight: bold;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

/********** Footer **************/

.footer {
  display: flex;
  color: white;
  font-family: "alumni";
}

.venstreside {
  background-color: #000000;
  width: 50%;
  padding: 30px;
}

.venstreside ul {
  list-style: none;
}

.venstreside a {
  color: white;
  font-size: 1.2rem;
  display: block;
  margin: 40px 0;
}

.logofooter {
  font-size: 4rem;
  font-style: italic;
  color: #ba6028;
  margin-top: 9rem;
}

.højreside {
  width: 50%;
  background-color: #575757;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  align-items: center;
}

.bookfooter {
  text-decoration: none;
  color: #ffffff;
  background-color: #3a3a3a;
  border: 1px solid white;
  padding: 25px 40px;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 8rem;
  justify-content: center;
  text-align: center;
  display: inline-block;
}

.socialemedier {
  background-color: #ddd;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 7rem;
  padding: 40px;
  margin-top: 8rem;
}

.socialemedier img {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    gap: 2rem;
    justify-items: center;
  }
}

/********** Mobilfirst **************/
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #3a3a3a;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 20px;
  }
}
