@font-face {
  font-family: "porter";
  src: url(../fonts/porter-sans-inline-block-webfont.woff) format("woff");
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

@font-face {
  font-family: "jaini";
  src: url(../fonts/Jaini-Regular.woff) format("woff");
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

@font-face {
  font-family: "alumni";
  src: url(../fonts/AlumniSans-VariableFont_wght.woff) format("woff");
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

@font-face {
  font-family: "dorsa";
  src: url(../fonts/Dorsa-Regular.woff) format("woff");
  font-weight: var(--font-weight-regular);
  font-style: normal;
}
