/* Mobile fix */
@media (max-width: 600px) {
  body {
    background-size: contain;
    background-position: top;
  }
}

/****tekst****/
.block_1 {
  font-family: "jaini";
  background-color: #3a3a3a;
  font-size: 1.2rem;
  color: #ba6028;
  padding: 50px;
}

.block_2 {
  font-family: "jaini";
  background-color: #3a3a3a;
  font-size: 1.2rem;
  color: #ba6028;
  padding: 50px;
}

.tekst_p {
  font-family: "alumni";
  color: white;
  padding-block: 10px;
}

.forside_h1 {
  font-family: "dorsa";
  font-size: 3rem;
  text-align: center;
  padding: 10px;
  color: rgb(40, 40, 40);
  letter-spacing: 5px;
}

h2 {
  font-family: "alumni";
  font-weight: bold;
  font-size: 2.5rem;
}

h3 {
  font-family: "alumni";
  font-weight: bold;
  font-size: 2rem;
}

/****knap****/
.book_btn {
  background-color: #ba6028;
  font-family: "alumni";
  font-size: 1.7rem;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  color: white;
}

.mere_btn {
  background-color: #3a3a3a;
  font-family: "alumni";
  font-size: 1.5rem;
  border: none;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end; /* moves button to the right */
  margin-bottom: 20px;
  margin-top: 10px;
}

/***forside tekst overlay***/
.img-container {
  position: relative; /* Needed for overlay positioning */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide overflow if video is larger */
}

.img-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover entire container while keeping aspect ratio */
  transform: translate(-50%, -50%); /* Center the video */
  z-index: 1; /* Keep behind overlay text */
}

.overlay-text {
  font-family: "dorsa";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ba6028;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  z-index: 2; /* Ensures text is above video */
  pointer-events: none; /* Optional: lets clicks pass through text to video */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* sikre at burger menu er foran img-container */
}

/****baggrunds billede****/
body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../img/baggrund_website.webp);
  background-size: cover; /* scale to fill */
  background-position: center; /* center the image */
  background-repeat: no-repeat;
}

/*** artister ***/
.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img_artister {
  padding: 10px;
}

/***desktop**/
@media (min-width: 1024px) {
  .grid_1_1_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_1_1_flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .block_2 {
    order: 2; /* text comes second */
  }

  .grid_1_1_flex img {
    order: 1; /* image comes first */
  }

  .overlay-text {
    font-size: 16rem;
    letter-spacing: 5px;
  }

  .forside_h1 {
    font-size: 6rem;
    letter-spacing: 5px;
  }

  .tekst_p {
    padding-left: 40px;
    max-width: 55ch;
    font-size: 1.6rem;
  }

  h2 {
    font-size: 3rem;
    padding-left: 40px;
  }

  h3 {
    font-size: 2.5rem;
    padding-left: 40px;
  }

  .book_btn {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 2.5rem;
  }

  .mere_btn {
    font-size: 3rem;
  }
}
